<section class="inPC">
    <div class="main">
        <h2 class="text-center">Radwa Khallaf</h2>
        <hr>
        <div class="menu" routerLink="home" routerLinkActive="active">
            <span class="material-symbols-outlined">
                home
            </span>
            <p>Home</p>
        </div>
        <div class="menu" routerLink="categoris" routerLinkActive="active">
            <span class="material-symbols-outlined">
                category
            </span>
            <p>Categories</p>
        </div>
        <div class="menu" routerLink="orders" routerLinkActive="active">
            <span class="material-symbols-outlined">
                draft_orders
            </span>
            <p>Orders</p>
        </div>
        <div class="menu" routerLink="all_clients" routerLinkActive="active">
            <span class="material-symbols-outlined">
                group
            </span>
            <p>Clients</p>
        </div>
        <div class="menu" routerLink="packges" routerLinkActive="active">
            <span class="material-symbols-outlined">
                draft_orders
            </span>
            <p>Packges</p>
        </div>

        <h3>Account Pages</h3>

        <div class="menu">
            <span class="material-symbols-outlined">
                person
            </span>
            <p>Profile</p>
        </div>
        <div class="menu">
            <span class="material-symbols-outlined">
                person_add
            </span>
            <p>Register Admin</p>
        </div>
    </div>
</section>

<section class="inMob">
    <div class="main">
        <!-- <h2 class="text-center">App Name</h2> -->
        <img style="width: 35px" src="../../../assets/logo.jpeg">
        <hr>
        <div class="menu" routerLink="home" routerLinkActive="active">
            <span class="material-symbols-outlined">
                home
            </span>
        </div>
        <div class="menu" routerLink="categoris" routerLinkActive="active">
            <span class="material-symbols-outlined">
                category
            </span>
        </div>
        <div class="menu" routerLink="orders" routerLinkActive="active">
            <span class="material-symbols-outlined">
                draft_orders
            </span>
        </div>
        <div class="menu" routerLink="all_clients" routerLinkActive="active">
            <span class="material-symbols-outlined">
                group
            </span>
        </div>

        <h3 style="font-size: 9px;">Account Pages</h3>

        <div class="menu">
            <span class="material-symbols-outlined">
                person
            </span>
        </div>
        <div class="menu">
            <span class="material-symbols-outlined">
                person_add
            </span>
        </div>
    </div>
</section>